.active-faq {
  border: 1.5px solid #00549099 !important;
  box-shadow: 0px 4px 25px 0px #00549033;
}

.opened-faq .collapsed {
  background: #f7f7f7;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  box-shadow: none;
}

.accordion-button::after {
  --bs-accordion-btn-icon: url("/add-square.png");
  --bs-accordion-btn-active-icon: url("/minus-square.png") !important;
}
