.blogCat {
  background: #e9f1f6;
}

.blog-p-bg {
  background: #f0f9ff !important;
}

.blog-p-bg:hover {
  background: white !important;
}

.activeBlogSelection {
  color: white;
  background: linear-gradient(92.62deg, #006ab6 0%, #00406d 100%);
  /* border-radius: 20px; */
}

.blogContent span img {
  max-width: 20px;
}

#blogSearchForm {
  top: 0;
  /* top: -3rem; */
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40rem;
  /* max-width: 25rem; */
  width: 100%;
}

#searchIcon {
  position: absolute;
  top: 50%;
  /* left: 10px; */
  left: 25px;
  transform: translate(0, -50%);
}

#searchInput {
  padding: 10px 15px 10px 65px;
  border-radius: 18px;
  overflow: hidden;
  /* max-width: 25rem; */
  width: 100%;
  border: 1px solid #00000066;
  box-shadow: 0px 4px 30px 0px #0000001a;
  font-size: 20px;
  height: 80px;
}

#searchInput::placeholder {
  opacity: 0.4;
  font-weight: 500;
}

.blogSearchPoint {
  overflow: scroll;
}

.blogSearchPoint::-webkit-scrollbar {
  display: none;
}

.blogSearchPoint li {
  list-style: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
}

.blogContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.blog {
  cursor: pointer;
  background: #f0f9ff;
  border-radius: 30px;
  transition: all 0.2s;
}

.blog:hover {
  background: white;
  box-shadow: 0px 4.81px 60.17px 0px #00549033;
}

.blog-d span {
  opacity: 0.6;
}

.blog-writer {
  width: 25px !important;
}

.blog img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}

.blogImgContainer {
  border-radius: 20px;
}

.blogImgContainer:hover img {
  scale: 1.05;
}

.blogTopic:hover {
  color: #005490;
}

.blog-pagination-btn {
  min-width: 32px;
  background: white;
  border: 1px solid #f1f1f1;
}

.active-blog-page {
  background: linear-gradient(92.62deg, #006ab6 0%, #00406d 100%);
}

@media only screen and (max-width: 991px) {
  .blogContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .blogContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
