/* .errorContainer {
  min-height: 85vh;
} */

.img-404 {
  width: 100%;
  height: auto;
}

.errorHeading {
  font-size: 100px;
}

@media only screen and (min-width: 1199px) {
  .go-to-home button {
    min-width: 480px;
  }
}
