.industry-info:hover .industry-title {
  text-decoration: underline;
}

.industry-info img {
  filter: grayscale();
  transition: all 0.2s;
}

.industry-info ul li::marker {
  content: url(/industry-bullet.png);
}

.grid-0988 {
  display: grid;
  grid-template-rows: repeat(5);
  grid-template-columns: repeat(2, 1fr);
}
