.rotate-text-container {
  background-color: #005490 !important;
}

.scroll-text {
  display: flex;
  white-space: nowrap;
}

.rotate-text-img {
  animation: rotate-text 5s infinite linear;
}

@keyframes rotate-text {
  0% {
    rotate: 0deg;
  }
  /* 50% {
      rotate: 180deg;
    } */
  100% {
    rotate: 360deg;
  }
}
