.portfolio-d-img {
  width: 100%;
  height: auto;
}

.download-img {
  max-width: 150px;
}

.tech-stack-container {
  background: #e7ecf1;
}

.tech-card {
  box-shadow: 0px 4px 50px 0px #00549033;
}

.flexElem {
  flex: 1;
}

.tech-card-img {
  max-width: 50px;
}

.star {
  max-width: 46px;
}
