.topBg {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background: linear-gradient(92.62deg, #006ab6 0%, #00406d 100%);
  box-shadow: 0px 4px 50px 0px #00549066;
  min-height: 520px;
}

.top-bg-star {
  right: -100px;
}

.contentText {
  width: auto;
}

.top-bg-text {
  max-width: 1000px;
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  .topBg {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .top-bg-star {
    right: -70px;
    transform: translate(0%, -25%) !important;
  }
}

@media only screen and (max-width: 567px) {
  .top-bg-star {
    right: 0px;
    opacity: 0.2;
  }
}
